@model List<Blog>
@{
    ViewData["Title"] = "Index";
}


<div class="container my-5">
    <a class="btn btn-success text-white" asp-action="Create" style="float:right">Create</a>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                        Tittle
                    </th>
                    <th>
                        Author
                    </th>
                    <th>
                        Operations
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var blog in Model)
                {
                    <tr>

                            <td class="py-1">
                                @foreach (var blogImage in blog.Images)
                            {
                                <img src="~/assets/images/website-images//@blogImage.Image" style="width:70px;height:70px" alt="image" />

                            }
                            </td>

                        <td class="py-1">
                            @blog.Title
                        </td>
                        <td class="py-1">
                            @blog.Author.Name
                        </td>

                        <td style="display: flex; gap: 10px;">
                            <a class="btn btn-outline-info" asp-action="Detail" asp-route-id="@blog.Id">Info</a>
                            <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@blog.Id">Edit</a>
                            <form asp-action="Delete" asp-route-id="@blog.Id" method="post">
                                <button type="submit" class="btn btn-outline-danger">Delete</button>
                            </form>
                        </td>

                    </tr>
                }

            </tbody>
        </table>
    </div>



</div>


